@import "tailwindcss";

/* Register local fonts */
@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Custom Fonts */
  --font-sans: "DM Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
    "Segoe UI Emoji";
  --font-heading: "Bricolage Grotesque", ui-sans-serif, system-ui, sans-serif;

  /* Custom Colors - Neutral */
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);

  /* Custom Colors - Orange */
  --color-orange-500: hsl(28, 100%, 52%);

  /* Custom Colors - Blue */
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  /* Base Typography */
  --font-size-base: 18px;

  /* Background Image */
  --bg-background: url('/src/assets/images/bg-today-large.svg');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-0);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family: var(--font-sans);
}

h1 {
  @apply text-[52px] font-bold leading-[60px] font-heading;
}

h2 {
  @apply text-[28px] font-bold leading-[36px] font-sans;
}

h3 {
  @apply text-[20px] font-semibold leading-[28px] font-sans;
}

.background {
  background-image: var(--bg-background);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}